[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "censosbo"]
	path = censosbo
	url = https://github.com/lab-tecnosocial/censosbo
